@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

body {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

#pdf-container {
    background: #f3f4f6;
}

.pdf-page {
    margin: 20px 20px 20px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pdf-controls {
    position: sticky;
    top: 80px;
    z-index: 10;
}

